@import '../../cs-index/cs-index-sidepanel/cs-index-sidepanel';


.cs-table-container {

  div.tTable>div.tBody>.cs-table-row.info {
    background-color: #d9edf7;
  }

  .tTable {
    display : table;
  }

  .tBody {
    display : table-row-group;
  }

  .no-result {
    width : 100%;
    text-align: center;
    padding : 3px;
    font-style: italic;
    font-size: larger;
    margin-top: 30px;
  }
}
