.flex.nav
  .navElement.appTitle
    Sample app
  .navElement.nav{ "ng-repeat" => "(key, resource) in resources", "ng-class" => "{selected : isSelected(resource.descriptor.type)}", "ng-click" => "select(resource.descriptor.type)"}
    {{resource.descriptor.name}}
    