%input.form-control{ "ng-if" => "mode('create') || mode('edit')",
                     "ng-disabled" => "fieldDisabled()",
                     "ng-required" => "fieldRequired()",
            		     "ng-model" => "formItem.attributes[field.attribute]",
                     type: "number" }
.form-control.no-cursor{ "ng-if" => "mode('show')",
                         "disabled" => "true"  }
  {{ formItem.attributes[field.attribute] }}
.no-wrap.pull-right{ "ng-if" => "mode('tableView')" }
  {{ formItem.attributes[field.attribute] }}
