.aligner
  .alignerItem
    .wizardContainer
      %div{ "cs-wizard" => "",
            "resource-type" => "$ctrl.resourceType",
            "item-id" => "$ctrl.itemId",
            "page-type" => "$ctrl.pageType"}
