%div{ "ng-repeat" => "alert in csAlertService.getAlerts()",
      "ng-class" => "'alert alert-dismissible alert-' + (alert.type || 'warning')",
      "dismiss-on-timeout" => "{{csAlertService.timeoutForAlert(alert)}}",
      "ng-click" => "csAlertService.dismissAlert(alert.id)",
      "close" => "csAlertService.dismissAlert(alert.id)",
      "uib-alert" => ''}
  {{alert.message}}
