/ CloudStorm Form Field component
/ Renders different kind of inputs for different types of items
.cs-field-inner{ "ng-class" => "CL.containerStyle"}
  %div{ "ng-class" => "CL.container" }
    .inline.label-container{ "ng-class" => "CL.label" }
      %label.control-label {{field.label}}
      %span.req-star{ "ng-if" => "field.required",
                      "ng-class" => "CL.required" } *
    %div{ "ng-class" => "CL.value" }
      .cs-input-wrapper
    %span.help-block{ "ng-if" => "field.errors.length > 0" }
      {{ getError(field) }}

    %span.help-block{ "ng-if" => "(!(field.errors.length > 0) && (getHint(field)))" }
      {{ getHint(field) }}

    .cover
