.cs-field {

  .cs-field-inner {
    position: relative;
    padding-bottom: 15px;
  }

  .show {
    //
  }

  .hidden {
    display : none;
  }

  /*
  * Vertical align
  */
  .cont_v {
    display : flex;
    flex-direction: column;
  }

  .field1_v {
    flex : 1;
  }

  .field2_v {
    flex : 2;
  }

  /*
  * Horizontal align
  */

  .cont_h {
    display : flex;
    align-items: center;
    flex-direction: row;
  }

  .field1_h {
    flex : 1;
  }

  .field2_h {
    flex : 2;
  }

  .cs-field-label {
    flex : 1;
  }

  .cs-field-content {
    flex : 2;
  }

  .inline {
    display : flex;
  }

  .req-star{
    margin-left: 3px;
  }

  .labelContainer {
    padding-left: 1px;
  }
}
