.cs-field {

  .cs-field-inner-form {
    position: relative;
    margin: 16px 0;
  }

  .cs-field-inner-table {
    margin: 4px 0;
    position: relative;
  }

  .show {
    //
  }

  .hidden {
    display: none;
  }

  //----------------
  // Vertical align
  //----------------

  .container-vertical {
    display: flex;
    flex-direction: column;
  }

  .label-vertical {
    flex: 1;
  }

  .value-vertical {
    flex: 2;
  }

  //-----------------
  // Horizontal align
  //-----------------

  .container-horizontal {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .label-horizontal {
    flex: 1;
  }

  .value-horizontal {
    flex: 2;
  }

  .inline {
    display: flex;
  }

  .req-star {
    margin-left: 3px;
  }

  .label-container {
    padding-left: 1px;
  }
}
