.cs-textfield {
  .ui-select-choices { display: none!important; }

  .showField {
    width: auto;
    border: 1px solid #ded9d9;
    border-radius: 4px;
    background-color: #f8f7f8;
    margin: 3px;
    padding: 8px;
    font-size: 13px;
  }
}
