/ ng-if creates an isolate scope so all data is available through $parent
/ %ui-select-choices is only here to disable typeahed dropdown as there should be not typeahed in this controller

%div{"ng-if" => "mode('edit')"}
  %input.form-control{  "ng-if" => "mode('view')",
                       "ng-if" => "field.cardinality == 'one'",
                       "ng-disabled" => "fieldDisabled()",
                       "ng-required" => "fieldRequired()",
                       "ng-model" => "$parent.formItem.attributes[$parent.field.attribute]",
                       "ng-keyup" => "keyPressed($event)",
                       type: "text" }

  %ui-select{ "ng-if" => "field.cardinality == 'many'",
              "ng-disabled" => "fieldDisabled()",
              "ng-required" => "fieldRequired()",
              "ng-model" => "$parent.formItem.attributes[$parent.field.attribute]",
              "multiple" => "",
              "search-enabled" => false,
              "tagging" => "",
              "tagging-label" => "newTag" }
    %ui-select-match
      %span
        {{$item}}
    %ui-select-choices{ :repeat => "item in []" }

.showField{ "ng-if" => "mode('view')",
            "ng-model" => "$parent.formItem.attributes[$parent.field.attribute]"}
  {{formItem.attributes[field.attribute]}}
