.input-group.cs-resource-input-group{ 'ng-if' => "field.cardinality == 'one' && !mode('show')" }
  %ui-select{ "ng-disabled" => "fieldDisabled()",
              "ng-required" => "fieldRequired()",
              "ng-model" => "model.object",
              "close-on-select" => "true",
              "append-to-body" => "true" }
    %ui-select-match{"allow-clear" => true}
      %span
        {{$select.selected.$display_name()}}
    %ui-select-choices{ "repeat" => "item in associates track by $index",
                        "refresh" => "refresh($select.search)",
                        "refresh-delay" => "200" }
      %span
        {{item.$display_name()}}

      %span.input-group-btn{ "ng-if" => "canCreateResources() || createDisabled()" }
        %button.btn.btn-default{ "ng-disabled" => "fieldDisabled()",
                                 "ng-click" => "pushPanel()",
                                 "type" => "button" } {{ i18n.t('buttons.new') }}
.form-control.no-cursor{ "ng-if" => "mode('show') && field.cardinality == 'one'",
                         "disabled" => "true" }
  {{ model.object.attributes[resource.descriptor.fields[0].attribute] }}

%cs-item-list{ "ng-if" => "mode('show') && field.cardinality == 'many'",
               "item-list" => "model.object",
               "key" => "resource.descriptor.fields[0].attribute" }

.input-group.cs-resource-input-group{ "ng-if" => "!mode('show') && field.cardinality == 'many'" }
  %ui-select{ "ui-select-override" => "",
              "ng-disabled" => "fieldDisabled()",
              "ng-required" => "fieldRequired()",
              "ng-model" => "model.object",
              "append-to-body" => "true",
              "close-on-select" => "true",
              "multiple" => true,
              "enable" => "false" }
    %ui-select-match{ "ui-lock-choice" => "mode('show')" }
      %span
        {{$item.$display_name()}}
    %ui-select-choices{ "repeat" => "item in associates track by $index",
                        "refresh" => "refresh($select.search)",
                        "refresh-delay" => "200" }
      %span
        {{item.$display_name()}}

  %span.input-group-btn{ "ng-if" => "createResources() && !createDisabled() && !mode('show')" }
    %button.btn.btn-default{ "ng-disabled" => "fieldDisabled()",
                             "ng-click" => "pushPanel()",
                             "type" => "button" } {{ i18n.t('buttons.new') }}

.cover
