.item-container
  %div{ "ng-repeat" => "item in $ctrl.itemList",
        "ng-if" => "$ctrl.many",
        "ng-click" => "$ctrl.click(item)",
        "ng-class" => "{'item-item' : $ctrl.mode('show'),
                        'table-view' : $ctrl.mode('tableView')}"}
    {{ item.attributes[$ctrl.key] }}
  %div{ "ng-if" => "!$ctrl.many" }
    {{ $ctrl.itemList.attributes[$ctrl.key] }}
  .no-item{ "ng-if" => "$ctrl.itemList.length == 0 && !$ctrl.mode('tableView')" }
    {{ $ctrl.i18n.t('alert.no_linked_resource') + $ctrl.field.attribute }}
