//Modal Positioning
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;

  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cs-item-list {

  .item-container {
    display: flex;
    flex-flow: row wrap;
  }

  .column-mode {
    flex-direction: column;
    margin : 10px auto;
  }

  .show-mode {
    border: 1px solid $show-mode-border;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px;
  }

  .row-mode {
    flex-direction: row;
    max-width: 220px;
  }

  .item {
    flex: 1;
    background-color: $gray-lighter;
    text-align: center;
    white-space: nowrap;
    width: auto;
  }

  .item:hover {
    border: 1px solid $gray-dark;
    cursor: pointer;
  }

  .item-show {
    margin: 5px;
    padding: 6px 12px;
  }

  .item-table {
    margin: 3px;
    text-align: center;
  }

  .no-item {
    color: $no-item-msg;
    font-size: 13px;
    font-style: italic;
    padding-left: 3px;
  }
}
