//Modal Positioning
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cs-item-list {

  .item-container {
    display : flex;
    flex-flow: row wrap;
  }

  .column-mode {
    margin : 10px auto;
    flex-direction: column;
  }

  .show-mode {
    flex-direction: row;
    border: 1px solid #B3B3B3;
    padding: 3px;
    border-radius: 5px;
    justify-content: space-around;
  }

  .row-mode {
    max-width: 220px;
    flex-direction: row;
  }

  .item {
    flex : 1;
    color: $gray;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: $gray-lighter;
    text-align: center;
    white-space: nowrap;
  }

  .item:hover {
    cursor: pointer;
    border: 1px solid $gray-dark;
  }

  .item-show {
    padding: 6px 12px;
    margin: 5px;
  }

  .item-table {
    margin: 3px 7px;
    text-align: center;
    padding: 2px 4px;
  }

  .single-item:hover {
    cursor : pointer;
    text-decoration : underline;
  }

  .singe-item-container {
    background-color: $gray-lighter;
  }

  .singe-item-container:hover {
    border: 1px solid $gray-dark;
  }

  .no-item {
    color: #b11c1c;
    font-size: 13px;
    font-style: italic;
    padding-left: 3px;
    margin-bottom: 14px;
    margin-left: 6px;
  }

}
