/ Only valid for cardinality:one 
%input.form-control{ "ng-disabled" => "fieldDisabled()", 
                     "ng-model" => "formItem.attributes[field.attribute]",
                     type: "checkbox" }