@import '../../cs-index/cs-index-sidepanel/cs-index-sidepanel';

.cs-table-header {

  display : table-row;

  .tHCell {
    display : table-cell;
    //bootstrap -- .table>thead:first-child>tr:first-child>th
    border-top: 0;
    //bootstrap -- .table>thead>tr>th
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    //tables.less --
    text-align: left;
    //user agent stylesheet
    font-weight: bold;
    //cs-index
    cursor: pointer;
    white-space: nowrap;
  }

}
