.cs-datetime {

  .container-flex {
    width: 100%;
    display: flex;
  }

  .first {
    margin-right: 10px;
  }

  .uib-dropdown-menu {
    padding: 5px 5px 10px 5px;
  }

  table {
    outline: none;
  }
}
