.tCell{ "ng-repeat" => "column in $ctrl.columns track by $index", "ng-click" => "$ctrl.show()"}
  {{ $ctrl.fieldValue(column) }}
  / "ng-if" => "$ctrl.columnVisible(column, $index) || true"
.tCell.actions
  / EDIT
  .action.show-action{"ng-click" => "$ctrl.select()"}<> {{ $ctrl.i18n.t('buttons.edit') }}
  / DELETE
  .action.delete-action{ "ng-click" => "$ctrl.destroy($event)" }<> {{ $ctrl.i18n.t('buttons.delete') }}
