- flash.each do |name, msg|
  - if msg.is_a?(String)
    .fade.in{ class: flash_class(name) } 
      %a.close{data: { dismiss: "alert"}} &#215;
      = content_tag :div, msg, :id => "flash_#{name}"   