.cs-date {
  
  .uib-dropdown-menu {
    padding: 5px 5px 10px 5px;
  }

  table {
    outline: none;
  }  
}

div[uib-datepicker-popup-wrap] {
  ul.uib-datepicker-popup.dropdown-menu {
    z-index: 99999;
  }
}

