.container
  .middle
    .profile
      %div{ "ng-repeat" => "field in descriptor.fields"}
        %div{ "ng-switch" => "field.type"}
          %div{ "ng-switch-when" => "string"}
            String : {{field.attribute}}  : {{getValue(field.attribute)}}
          %div{ "ng-switch-when" => "date"}
            Date : {{field.attribute}} : {{getValue(field.attribute)}}
          %div{ "ng-switch-when" => "boolean"}
            Boolean : {{field.attribute}} : {{getValue(field.attribute)}}
      %div{ "ng-repeat" => "relation in relations"}
        %div
          Name : {{relation.label}} 
        %div{ "ng-repeat" => "item in relation.items"}
          %div{ "ng-click" => "go(item.id, relation.resourceType)"}
            Item : {{item.label}}
 
          
              
              
              
              