%div{ "uib-timepicker" => "",
      "show-spinners" => "false",
      "ng-disabled" => "fieldDisabled()",
      "ng-required" => "fieldRequired()",
      "ng-model" => "formItem.attributes[field.attribute]",
      "ng-model-options" => "getModelOptions()"}
