%cs-loader{ "ng-if" => "$ctrl.loading"}
%div{ "ng-if" => "!$ctrl.loading"}
  %cs-error{"errors" => "$ctrl.errors"}
  %div{"ng-if" => "$ctrl.errors.length == 0", "ng-switch" => "$ctrl.pageType"}
    %cs-index{ "ng-switch-when" => "index", "resource-type" => "$ctrl.resourceType", "items" => "$ctrl.items", "resource" => "$ctrl.resource", "item-id" => 'null', "cs-index-options" => "options"}
    .aligner{"ng-switch-when" => "show"}
      .alignerItem
        .wizardContainer
          %div{ "cs-wizard" => "", "cs-wizard-options" => "$ctrl.wizardOptions"}
    .aligner{"ng-switch-when" => "edit"}
      .alignerItem
        .wizardContainer
          %div{ "cs-wizard" => "", "cs-wizard-options" => "$ctrl.wizardOptions"}
    .aligner{"ng-switch-when" => "create"}
      .alignerItem
        .wizardContainer
          %div{ "cs-wizard" => "", "cs-wizard-options" => "$ctrl.wizardOptions"}

    /.aligner{"ng-switch-when" => "edit"}
    / %cs-wizard{"cs-wizard-options" => "$ctrl.wizardOptions"}
    /%div
    /Edit
    /.wizardContainer{ "ng-switch-when" => "new"}
    /%cs-wizard{"cs-wizard-options" => "$ctrl.wizardOptions"}
