%input.form-control{  "ng-if" => "mode('edit') || mode('create')",
                      "uib-datepicker-popup" => "",
                      "datepicker-append-to-body" => "true",
                      "datepicker-options" => "{startingDay: 1, showWeeks: false}",
                      "datepicker-append-to-body" => "true",
                      "is-open" => "dt.open",
                      "ng-disabled" => "fieldDisabled()",
                      "ng-required" => "fieldRequired()",
                      "ng-click" => "dt.open = true",
                      "ng-model" => "formItem.attributes[field.attribute]",
                      "current-text" => "{{ i18n.t('today') }}",
                      "clear-text" => "{{ i18n.t('buttons.clear') }}",
                      "close-text" => "{{ i18n.t('buttons.close') }}",
                      "ng-model-options" => "getModelOptions()",
                      "type" => "text",
                      "autocomplete" => "off" }
.form-control.no-cursor{ "ng-if" => "mode('show')",
                         "disabled" => "true"  }
  {{ input_date }}
.no-wrap{ "ng-if" => "mode('tableView')" }
  {{ input_date }}
