%p
  Tisztelt #{@resource.name}!
%p A MISTO jelszavának beállításához kérem használja az alábbi hivatkozást. 
%p= link_to 'Jelszó beállítása', edit_password_url(@resource, :reset_password_token => @token)
