.row
  .col-lg-12{ "ng-switch" => "listIsEmpty()"}
    %cs-filter-row{ "resource" => "resource",
                    "filter" => "filter(filterValue)",
                    "openNewResourcePanel" => "openNewResourcePanel()",
                    "refreshIndex" => "refreshIndex()"}
    .row{ "ng-switch-when" => "true" }
      .well.well-lg
        {{header}} {{ i18n.t('index.empty') }}

    .row{ "ng-switch-when" => "false" }
      %cs-table-container{"ng-class" => "{ 'col-lg-8' : sidePanelIsVisible() && !viewIsCompressed(),
                                           'col-lg-6' : viewIsCompressed() }",
                          "resource" => "resource",
                          "collection" => "collection",
                          "columns" => "columns",
                          "cs-index-options" => "csIndexOptions",
                          "column-visible" => "columnVisible(column, index)",
                          "show-item" => "showItem(item)",
                          "select-item" => "selectItem(item)",
                          "destroy-item" => "destroyItem(event, item)"}

      %cs-index-sidepanel{ "ng-if" => "sidePanelIsVisible()",
                           "cs-index-sidepanel-options" => "csIndexOptions",
                           "resource-type" => "resourceType",
                           "item" => "csIndexOptions.selectedItem",
                           "unselect-item" => "unselectItem()",
                           "ng-class" => "{ 'col-lg-4' : !viewIsCompressed() && sidePanelIsVisible(),
                                            'col-lg-6' : viewIsCompressed() }",
                           "panel-number-callback" => "getPanelNumber" }
