@import 'cs-index-sidepanel/cs-index-sidepanel';

.cs-index {

  // ========== VARIABLES =========================

  $action-bg-color: rgba(125, 125, 125, 0.3);

  // ==== OVERRIDE 100% WIDTH ON NARROW DEVICES ===

  div.tTable>div.tBody>.cs-row.info {
    background-color: #d9edf7;
  }

  .tTable {
    display : table;
  }

  .tHead {
    display : table-header-group;
  }

  .tBody {
    display : table-row-group;
  }

  .tRow {
    display : table-row;
  }

  .tCell {
    display : table-cell;
  }

  // ========== CS INDEX TABLE ====================

  table {

    th {
      // https://www.youtube.com/watch?v=x-BJiWY5gfc
      cursor: pointer;
      white-space: nowrap;
    }

    tbody {
      tr {
        cursor: pointer;

        td {
          // Action buttons at the end of each table row
          &.actions {
            text-align: right;
            line-height: $line-height-computed + 2 * $table-cell-padding;
            padding-top: 0;
            padding-bottom: 0;
            white-space: nowrap;
            vertical-align: middle;

            .action {
              cursor: pointer;
              display: inline-block;
              padding: 0 8px;

              &.delete-action { color: $gray-light; }

              &:hover {
                text-decoration: underline;
                background-color: $action-bg-color;

                &.delete-action { color: $brand-danger; }
                &.show-action { color: $brand-info; }
              }
            }
          }
        }
      }
    }
  }
}
