@import 'cs-index-sidepanel/cs-index-sidepanel';

.cs-index {

  // ========== VARIABLES =========================

  $action-bg-color: rgba(125, 125, 125, 0.3);

  // ==== OVERRIDE 100% WIDTH ON NARROW DEVICES ===

  .header-actions {
    .input-group-wrap {
      display: inline-block;
      vertical-align: top;
      .input-group {
        .input-group-addon { width: 0; }
        .form-control.cs-index-filter { width: auto; }
      }
    }
    .btn { vertical-align: top; }
  }

  // ========== CS INDEX HEADER ===================

  .header-actions {
    top: 10px;
    position: relative;

    .create-button {
      &.btn { padding: 6px 24px; }
    }


  }

  // ========== CS INDEX TABLE ====================

  table {

    th {
      // https://www.youtube.com/watch?v=x-BJiWY5gfc
      cursor: pointer;
      white-space: nowrap;
    }

    tbody {
      tr {
        cursor: pointer;

        td {
          // Action buttons at the end of each table row
          &.actions {
            text-align: right;
            line-height: $line-height-computed + 2 * $table-cell-padding;
            padding-top: 0;
            padding-bottom: 0;
            white-space: nowrap;
            vertical-align: middle;

            .action {
              cursor: pointer;
              display: inline-block;
              padding: 0 8px;

              &.delete-action { color: $gray-light; }

              &:hover {
                text-decoration: underline;
                background-color: $action-bg-color;

                &.delete-action { color: $brand-danger; }
                &.show-action { color: $brand-info; }
              }
            }
          }
        }
      }
    }

  }

   // ==== cs-profile.scss ==== 

  .container {
    width: 100%;  
  }
  
  .middle {
    display : table;
    margin: 10px auto;  
  }

  .profile {
    width: 500px;
  }  

  .item {
      margin : 5px 0px 5px 50px;
      padding : 2px 10px;
      font-size : 15px;  
      border-radius : 5px;
      text-align : center;
      width: 300px;
  }
  
  .title {
    font-size: 20px;
    margin: 10px auto;
    font-style: italic;
    display: table;
  }
  
  .data {
      background-color : #ececec;
  }

  .resource {
      background-color : #c7c3c3;
   }

  .resource:hover {
      cursor : pointer;
  }

  .inline {
      display : inline-block;   
  }
  
  .fieldTitle {
      margin-top : 7px;  
      width: 50px;
  }
  
  .flex {
      display : flex; 
   }
 
  .relation {
     text-decoration: underline;
     width: 140px;
     text-height: auto;
  }

  // ==== cs-menu.scss ==== 
  
  .nav {
    background-color : #F8F7F8;  
  }

  .navElement {
    color: #555555;
    display: block;
    padding : 20px;  
  }
  
  .nav {
    font-weight: bold;
  }
 
  .navElement:hover {
    color: #333333; 
    cursor: pointer;  
  }

  .appTitle {
    font-weight: normal;
    font-size: 18px;
  }
  
  .selected {
      background-color: #e7e7e7;
  }
  
}