.uib-datepicker-popup {
  z-index: 1060; }

.no-cursor {
  cursor: default !important; }

.bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.auto-height {
  height: auto !important; }

.pointer-cursor {
  cursor: pointer; }

.pointer-cursor:hover {
  border: 1px solid #777777;
  cursor: pointer; }

pre {
  background-color: #eeeeee; }

.form-control {
  height: auto;
  min-height: 34px; }

.cs-alert {
  position: fixed;
  width: 30%;
  top: 55px;
  right: 20px;
  z-index: 99999; }
  .cs-alert .alert {
    word-break: break-word;
    -webkit-box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.4); }

.cs-field .cs-field-inner-form {
  margin: 16px 0;
  position: relative; }
.cs-field .cs-field-inner-table {
  margin: 4px 0;
  position: relative; }
.cs-field .hidden {
  display: none; }
.cs-field .container-vertical {
  display: flex;
  flex-direction: column; }
.cs-field .label-vertical {
  flex: 1; }
.cs-field .value-vertical {
  flex: 2; }
.cs-field .container-horizontal {
  align-items: center;
  display: flex;
  flex-direction: row; }
.cs-field .label-horizontal {
  flex: 1; }
.cs-field .value-horizontal {
  flex: 2; }
.cs-field .inline {
  display: flex; }
.cs-field .req-star {
  margin-left: 3px; }
.cs-field .label-container {
  padding-left: 1px; }

.cs-checkbox input {
  width: 16px;
  height: 16px;
  margin: 2px; }
.cs-checkbox .show-view {
  margin-left: 5px; }

.cs-date .uib-dropdown-menu {
  padding: 5px 5px 10px 5px; }
.cs-date .no-wrap {
  white-space: nowrap; }
.cs-date table {
  outline: none; }

div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup.dropdown-menu {
  z-index: 99999; }

.cs-datetime .container-flex {
  width: 100%;
  display: flex; }
.cs-datetime .first {
  margin-right: 10px; }
.cs-datetime .uib-dropdown-menu {
  padding: 5px 5px 10px 5px; }
.cs-datetime table {
  outline: none; }

.cs-textfield .ui-select-choices {
  display: none !important; }

.cs-resource-input-group {
  width: 100%; }

.ui-select-multiple.ui-select-bootstrap {
  min-height: 34px; }

body > .ui-select-bootstrap.open {
  z-index: 1051; }

.cs-filter-row .header-actions .input-group-wrap {
  display: inline-block;
  vertical-align: top; }
  .cs-filter-row .header-actions .input-group-wrap .input-group .input-group-addon {
    width: 0; }
  .cs-filter-row .header-actions .input-group-wrap .input-group .form-control.cs-index-filter {
    width: auto; }
.cs-filter-row .header-actions .btn {
  vertical-align: top; }
.cs-filter-row .header-actions {
  top: 10px;
  position: relative; }
  .cs-filter-row .header-actions .create-button.btn {
    padding: 6px 24px; }

.cs-form {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .cs-form .form-header {
    flex: 1; }
    .cs-form .form-header h4.divided {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: lightslategrey;
      padding-bottom: 5px;
      width: 372px;
      margin-bottom: 20px; }
  .cs-form form {
    flex-basis: auto;
    height: 100%;
    overflow: auto; }
    .cs-form form .cs-field {
      position: relative;
      margin-bottom: 0;
      background-color: initial; }
      .cs-form form .cs-field.inactive .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lightgray;
        opacity: 0.6;
        z-index: 99999; }
  .cs-form .form-actions {
    margin-top: 15px;
    margin-bottom: 0; }
    .cs-form .form-actions .actions-inner {
      display: table-cell;
      vertical-align: middle; }
      .cs-form .form-actions .actions-inner .btn-tooltip-wrapper {
        display: inline-block; }
      .cs-form .form-actions .actions-inner .create-another {
        display: inline-block; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.cs-item-list .item-container {
  display: flex;
  flex-flow: row wrap; }
.cs-item-list .column-mode {
  flex-direction: column;
  margin: 10px auto; }
.cs-item-list .show-mode {
  border: 1px solid #bbbbbbb;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px; }
.cs-item-list .row-mode {
  flex-direction: row;
  max-width: 220px; }
.cs-item-list .item {
  flex: 1;
  background-color: #eeeeee;
  text-align: center;
  white-space: nowrap;
  width: auto; }
.cs-item-list .item:hover {
  border: 1px solid #333333;
  cursor: pointer; }
.cs-item-list .item-show {
  margin: 5px;
  padding: 6px 12px; }
.cs-item-list .item-table {
  margin: 3px;
  text-align: center; }
.cs-item-list .no-item {
  color: #929292;
  font-size: 13px;
  font-style: italic;
  padding-left: 3px; }

.cs-menu .flex {
  display: flex; }
.cs-menu .nav {
  background-color: #F8F7F8; }
.cs-menu .navElement {
  color: #555555;
  display: block;
  padding: 20px; }
.cs-menu .nav {
  font-weight: bold; }
.cs-menu .navElement:hover {
  color: #333333;
  cursor: pointer; }
.cs-menu .appTitle {
  font-weight: normal;
  font-size: 18px; }
.cs-menu .appTitle:hover {
  cursor: initial;
  color: #555555; }
.cs-menu .selected {
  background-color: #e7e7e7; }

.cs-index-sidepanel {
  position: fixed;
  height: calc(100% - 190px);
  top: auto; }
  .cs-index-sidepanel .panel-close {
    position: absolute;
    width: 20px;
    left: 382px;
    top: 10px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    z-index: 999; }
  .cs-index-sidepanel .cs-wizard .form-panel {
    height: auto;
    padding-top: 0; }

@media (max-width: 1200px) {
  .cs-index-sidepanel {
    -moz-box-shadow: 0px 0px 140px -10px #000;
    -webkit-box-shadow: 0px 0px 140px -10px #000;
    box-shadow: 0px 0px 140px -10px #000;
    width: 502px;
    height: 75%;
    left: 50%;
    top: 10%;
    padding: 0;
    margin-left: -251px;
    z-index: 1050; }
    .cs-index-sidepanel .panel-close {
      left: 478px; }
    .cs-index-sidepanel .cs-wizard {
      width: 502px; } }
.cs-table-header {
  display: table-row; }
  .cs-table-header .cs-table-header-cell {
    display: table-cell;
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap; }
  .cs-table-header .inline {
    display: inline-block; }
  .cs-table-header .arrow-container {
    width: 15px; }

.cs-index-sidepanel {
  position: fixed;
  height: calc(100% - 190px);
  top: auto; }
  .cs-index-sidepanel .panel-close {
    position: absolute;
    width: 20px;
    left: 382px;
    top: 10px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    z-index: 999; }
  .cs-index-sidepanel .cs-wizard .form-panel {
    height: auto;
    padding-top: 0; }

@media (max-width: 1200px) {
  .cs-index-sidepanel {
    -moz-box-shadow: 0px 0px 140px -10px #000;
    -webkit-box-shadow: 0px 0px 140px -10px #000;
    box-shadow: 0px 0px 140px -10px #000;
    width: 502px;
    height: 75%;
    left: 50%;
    top: 10%;
    padding: 0;
    margin-left: -251px;
    z-index: 1050; }
    .cs-index-sidepanel .panel-close {
      left: 478px; }
    .cs-index-sidepanel .cs-wizard {
      width: 502px; } }
div.table-striped > div.cs-table-body > .cs-table-row:nth-of-type(odd) {
  background-color: #f9f9f9; }

.cs-table-row {
  display: table-row; }
  .cs-table-row .cs-table-cell {
    display: table-cell;
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    vertical-align: middle; }
  .cs-table-row div.actions {
    text-align: right;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    vertical-align: middle; }
    .cs-table-row div.actions .action {
      cursor: pointer;
      display: inline-block;
      padding: 0 8px; }
      .cs-table-row div.actions .action.delete-action {
        color: #777777; }
      .cs-table-row div.actions .action.edit-action {
        color: #777777; }
      .cs-table-row div.actions .action:hover {
        text-decoration: underline;
        background-color: rgba(125, 125, 125, 0.3); }
        .cs-table-row div.actions .action:hover.delete-action {
          color: #d9534f; }
        .cs-table-row div.actions .action:hover.edit-action {
          color: #5bc0de; }

.cs-index-sidepanel {
  position: fixed;
  height: calc(100% - 190px);
  top: auto; }
  .cs-index-sidepanel .panel-close {
    position: absolute;
    width: 20px;
    left: 382px;
    top: 10px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    z-index: 999; }
  .cs-index-sidepanel .cs-wizard .form-panel {
    height: auto;
    padding-top: 0; }

@media (max-width: 1200px) {
  .cs-index-sidepanel {
    -moz-box-shadow: 0px 0px 140px -10px #000;
    -webkit-box-shadow: 0px 0px 140px -10px #000;
    box-shadow: 0px 0px 140px -10px #000;
    width: 502px;
    height: 75%;
    left: 50%;
    top: 10%;
    padding: 0;
    margin-left: -251px;
    z-index: 1050; }
    .cs-index-sidepanel .panel-close {
      left: 478px; }
    .cs-index-sidepanel .cs-wizard {
      width: 502px; } }
.cs-table-container div.tTable > div.tBody > .cs-table-row.selected-row {
  background-color: #d9edf7; }
.cs-table-container .cs-table {
  display: table; }
.cs-table-container .cs-table-body {
  display: table-row-group; }
.cs-table-container .no-result {
  width: 100%;
  text-align: center;
  padding: 3px;
  font-style: italic;
  font-size: larger;
  margin-top: 30px; }
.cs-table-container .selectable-row:hover {
  cursor: pointer;
  background-color: #efefef !important; }

.cs-wizard {
  position: relative;
  left: 0px;
  width: 650px;
  height: 100%;
  overflow-x: hidden; }
  .cs-wizard .form-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 15px; }
    .cs-wizard .form-panel:nth-child(1) {
      background-color: white;
      z-index: 1; }
      .cs-wizard .form-panel:nth-child(1):not(:first-of-type) {
        -moz-box-shadow: 0px 0px 25px 0px #000;
        -webkit-box-shadow: 0px 0px 25px 0px #000;
        box-shadow: 0px 0px 25px 0px #000; }
        .cs-wizard .form-panel:nth-child(1):not(:first-of-type).pre-hover {
          margin-left: 50px; }
        .cs-wizard .form-panel:nth-child(1):not(:first-of-type).hover {
          margin-left: 50px; }
        .cs-wizard .form-panel:nth-child(1):not(:first-of-type).post-hover {
          margin-left: 100px; }
    .cs-wizard .form-panel:nth-child(2) {
      background-color: white;
      z-index: 2; }
      .cs-wizard .form-panel:nth-child(2):not(:first-of-type) {
        -moz-box-shadow: 0px 0px 25px 0px #000;
        -webkit-box-shadow: 0px 0px 25px 0px #000;
        box-shadow: 0px 0px 25px 0px #000; }
        .cs-wizard .form-panel:nth-child(2):not(:first-of-type).pre-hover {
          margin-left: 100px; }
        .cs-wizard .form-panel:nth-child(2):not(:first-of-type).hover {
          margin-left: 100px; }
        .cs-wizard .form-panel:nth-child(2):not(:first-of-type).post-hover {
          margin-left: 200px; }
    .cs-wizard .form-panel:nth-child(3) {
      background-color: white;
      z-index: 3; }
      .cs-wizard .form-panel:nth-child(3):not(:first-of-type) {
        -moz-box-shadow: 0px 0px 25px 0px #000;
        -webkit-box-shadow: 0px 0px 25px 0px #000;
        box-shadow: 0px 0px 25px 0px #000; }
        .cs-wizard .form-panel:nth-child(3):not(:first-of-type).pre-hover {
          margin-left: 150px; }
        .cs-wizard .form-panel:nth-child(3):not(:first-of-type).hover {
          margin-left: 150px; }
        .cs-wizard .form-panel:nth-child(3):not(:first-of-type).post-hover {
          margin-left: 300px; }
    .cs-wizard .form-panel:nth-child(4) {
      background-color: white;
      z-index: 4; }
      .cs-wizard .form-panel:nth-child(4):not(:first-of-type) {
        -moz-box-shadow: 0px 0px 25px 0px #000;
        -webkit-box-shadow: 0px 0px 25px 0px #000;
        box-shadow: 0px 0px 25px 0px #000; }
        .cs-wizard .form-panel:nth-child(4):not(:first-of-type).pre-hover {
          margin-left: 200px; }
        .cs-wizard .form-panel:nth-child(4):not(:first-of-type).hover {
          margin-left: 200px; }
        .cs-wizard .form-panel:nth-child(4):not(:first-of-type).post-hover {
          margin-left: 400px; }
    .cs-wizard .form-panel:nth-child(5) {
      background-color: white;
      z-index: 5; }
      .cs-wizard .form-panel:nth-child(5):not(:first-of-type) {
        -moz-box-shadow: 0px 0px 25px 0px #000;
        -webkit-box-shadow: 0px 0px 25px 0px #000;
        box-shadow: 0px 0px 25px 0px #000; }
        .cs-wizard .form-panel:nth-child(5):not(:first-of-type).pre-hover {
          margin-left: 250px; }
        .cs-wizard .form-panel:nth-child(5):not(:first-of-type).hover {
          margin-left: 250px; }
        .cs-wizard .form-panel:nth-child(5):not(:first-of-type).post-hover {
          margin-left: 500px; }
    .cs-wizard .form-panel:first-of-type {
      margin-left: 0; }
    .cs-wizard .form-panel:not(.active) {
      padding-left: 5px;
      background-color: lightgray; }

.modal-wizard .modal-dialog {
  height: calc(100% - 2 * 30px); }
  .modal-wizard .modal-dialog .modal-content {
    height: 100%; }

.animation {
  -moz-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s; }

.animation.ng-enter {
  opacity: 0; }

.animation.ng-leave {
  opacity: 1; }

.animation.ng-enter.ng-enter-active {
  opacity: 1; }

.animation.ng-leave.ng-leave-active {
  opacity: 0; }

.wizardContainer {
  position: fixed;
  height: calc(100% - 65px); }

.middle {
  display: table;
  margin: 10px auto; }

.aligner {
  display: flex;
  align-items: center;
  justify-content: center; }

.alignerItem {
  min-width: 50%; }

.errorMsg {
  margin-top: 30px; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=cloudstorm.css.map */
