.aligner{"ng-if" => "$ctrl.found"}
  .alignerItem{ "ng-switch" => "$ctrl.id"}
    %div{ "ng-switch-when" => "new" }
      %div{ "ng-if" => "!$ctrl.ready"}
        Loading ... 
      .wizardContainer{ "ng-if" => "$ctrl.ready"}
        %div{ "cs-wizard" => "", "cs-wizard-options" => "$ctrl.wizardOptions"}
    %div{ "ng-switch-default" => "" }
      %cs-profile{ "item-id" => "$ctrl.id", "resource-type" => "$ctrl.resourceType"}
.alert.alert-danger.errorMsg{"ng-if" => "!$ctrl.found"}
  %strong
    Error!   
  Resource not found!
