
.cs-index-sidepanel {
  position: fixed;
  height: calc(100% - #{$navbar-and-page-header-height});
  top: auto;
  border-radius: 6px;

  .panel-close {
    position: absolute;
    width: 20px;
    left: 382px;
    top: 10px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    z-index: 999;
  }

  .cs-wizard {
    .form-panel {
      height: auto; // buttons (Save, Cancel) are better (?) positioned this way
      padding-top: 0;
    }
  }
}

@media (max-width: 1200px) {
  .cs-index-sidepanel {
    @include cs-drop-shadow;

    width: $wizard-width-narrow;
    height: 75%;
    left: 50%;
    top: 10%;
    padding: 0;
    margin-left: - $wizard-width-narrow / 2;
    z-index: 1050; // Same As Uib-modal
    border-radius: 6px;

    .panel-close {
      left: 478px;
    }

    .cs-wizard {
      width: $wizard-width-narrow;
      .form-panel {
        height: 100%;
        padding-top: 0;
      }
    }
  }
}
