.panel-close
  %span{ "ng-click" => "closePanel()"} &#10006;

%cs-wizard{ "ng-if" => "editWizardOptions",
  "cs-wizard-options" => "editWizardOptions",
  "panel-number-callback" => "panelNumberCallback" }
