.border-top {
  border-top: 1px solid black;
}

.border-shadow {
  -webkit-box-shadow: 4px 4px 5px 0px #a7a3a3;
  -moz-box-shadow: 4px 4px 5px 0px #a7a3a3;
  box-shadow: 4px 4px 5px 0px #a7a3a3;
}

.b-1 {
  border : 1px solid black;
}

.b-r-1 {
  border-radius: 1px;
}

.b-r-2 {
  border-radius: 3px;
}

.b-r-3 {
  border-radius: 3px;
}
.b-r-5 {
  border-radius: 5px;
}
