%div{ "ng-if" => "mode('create') || mode('edit')" }
  %textarea.form-control{ "ng-disabled" => "fieldDisabled()",
                          "ng-required" => "fieldRequired()",
                          "ng-model" => "formItem.attributes[field.attribute]",
                          "ng-keyup" => "keyPressed($event)",
                          rows: "3" }

%pre{ "ng-if" => "mode('show')",
      "ng-model" => "formItem.attributes[field.attribute]" }
  %code
    {{ formatted_code }}


%pre{ "ng-if" => "mode('tableView') && !trimmed",
      "ng-model" => "formItem.attributes[field.attribute]" }
  %code
    {{ formatted_code_short }}

%pre.pointer-cursor{ "ng-if" => "mode('tableView') && trimmed",
      "ng-model" => "formItem.attributes[field.attribute]",
      "ng-click" => "showFullCode()" }
  %code
    {{ formatted_code_short }}

/ %div{ "ng-if" => "mode('tableView')" }
/   {{ formItem.attributes[field.attribute] }}
