/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require angular-ui-select
 *= require ng-dialog
 *= require ng-dialog/css/ngDialog-theme-default
 *= require_self
 */


//////// BOOTSTRAP OVERRIDES ////////

@import "bootstrap-sprockets";
@import "bootstrap";
@import "glyphicon-fixes";

//////// TODO LIST ////////

@import "todo-list/_variables";
@import "todo-list/navbar";
@import "todo-list/footer";

//////// CLOUDSTORM ////////

@import 'cloudstorm/src/cloudstorm';

// TODO: refactor
// https://github.com/cloud-storm/CloudStormJS/issues/38
$uib-modal-margin: 30px;

.modal-wizard {
  .modal-dialog {
    height: calc(100% - 2 * #{$uib-modal-margin});

    .modal-content {
      height: 100%;
    }
  }
}

////////    COMMON    ////////////

html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#todo-list {
  position: relative;
  height: -webkit-calc(100% - 102px);
  height: -moz-calc(100% - 102px);
  height: calc(100% - 102px);
  top: $navbar-height;
}

/////////   MISC   ////////////

.devise-error {
  padding-bottom: 10px;
  padding-top: 10px;
  color: crimson;
  padding-left: 0px;
  font-size: larger;

  li {
    list-style-type: none;
  }
}
