%input.form-control{ "ng-disabled" => "fieldDisabled()",
                     "ng-required" => "fieldRequired()",
            		     "ng-model" => "formItem.attributes[field.attribute]", 
                     type: "number" }