%cs-error{"errors" => "errors"}
%cs-loader{ "enabled" => "loading"}
.form-panel.animation{ "ng-show" => "!loading",
                       "ng-repeat" => "panel in panelStack track by $index",
                       "ng-init" => "panelIndex = $index",
                       "ng-class" => "{'active' : $index==panelStack.length-1,
                        'pre-hover' : panel.hoverOrder < 0,
                        'hover' : panel.hoverOrder==0, 'post-hover' : panel.hoverOrder > 0 }",
                       "ng-mouseover" => "panelHover($index)" }
  %cs-wizard-panel
