
.wizard-container {
  height: calc(100% - #{$navbar-height});
  position: fixed;
}

.middle {
  display: table;
  margin: 10px auto;
}

.aligner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aligner-item {
  min-width : 50%;
}

.cs-wizard {
  height: 100%;
  left: 0px;
  overflow-x: hidden;
  position: relative;
  width: $wizard-width;

  .form-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 15px;

    // Create CSS rules n panels deep
    $wizard-max-depth: 5;  // NB! duplicated in JS
    $form-base-margin: 100px;
    $peek-width: 50px;

    @for $i from 1 through $wizard-max-depth {

      &:nth-child(#{$i}) {
        // margin-left: 75px * $i;
        background-color: white;
        border-radius: 6px;
        z-index: $i;

        &:not(:first-of-type) {
          @include cs-panel-shadow;

          &.pre-hover {
            margin-left: ($form-base-margin - $peek-width) * $i;
          }

          &.hover {
            margin-left: ($form-base-margin - $peek-width) * $i;
          }

          &.post-hover {
            margin-left: ($form-base-margin) * $i;
          }
        }
      }
    } // @for END

    &:first-of-type {
      margin-left: 0;
    }

    &.active {
    }

    &:not(.active) {
      padding-left: 5px;
      background-color: lightgray;
      border-radius: 6px;
    }

  } // .form-panel END

} // .wizard END

// TODO: refactor
// https://github.com/cloud-storm/CloudStormJS/issues/38
$uib-modal-margin: 30px;

.modal-wizard {
  .modal-dialog {
    height: calc(100% - 2 * #{$uib-modal-margin});

    .modal-content {
      height: 100%;
    }
  }
}

////// ANIMATION ////////////////////////////////

.animation {
  -moz-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
}

.animation.ng-enter {
  opacity: 0;
}

.animation.ng-leave {
  opacity: 1;
}

.animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.animation.ng-leave.ng-leave-active {
  opacity: 0;
}
