%div{  "cs-form" => "",
       "form-resource" => "panel.resource",
       "form-resource-descriptor" => "resource_descriptor(panel)",
       "form-item" => "panel.item",
       "form-parent" => "panel.parent",
       "form-mode" => "{{panel.formMode}}",
       "wizard-panel-index" => "panelIndex",
       "cs-form-options" => "csWizardOptions",
       "create-resources" => "shouldShowNewButton()",
       "role" => 'form',
       "autocomplete" => "off",
       'ng-class' => 'formClass()' }

