.cs-filter-row {

  .header-actions {
    .input-group-wrap {
      display: inline-block;
      vertical-align: top;
      .input-group {
        .input-group-addon { width: 0; }
        .form-control.cs-index-filter { width: auto; }
      }
    }
    .btn { vertical-align: top; }
  }

  .header-actions {
    top: 10px;
    position: relative;

    .create-button {
      &.btn { padding: 6px 24px; }
    }
  }
}
