.no-cursor {
  cursor: default !important;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.auto-height {
  height: auto !important;
}

.pointer-cursor {
  cursor: pointer;
}

.pointer-cursor:hover {
  border: 1px solid $gray-light;
  cursor: pointer;
}

pre {
  background-color: $gray-lighter;
}
