$wizard-width: 650px;
$wizard-width-narrow: 502px; // Why the 2?

// TODO: this should be calculated from other (Bootstrap?) variables
$navbar-and-page-header-height: 190px;
$navbar-height: 50px;
$sidebar-top: 190px;