/ Only valid for cardinality:one
%input.form-control{ "ng-if" => "mode('create') || mode('edit')",
                     "ng-disabled" => "fieldDisabled()",
                     "ng-model" => "formItem.attributes[field.attribute]",
                     "type" => "checkbox" }
.show-view{ "ng-if" => "mode('show') || mode('tableView')" }
  %div{ "ng-if" => "$ctrl.formItem.attributes[field.attribute]"}
    {{ i18n.t('checkbox.checked') }}
  %div{ "ng-if" => "!$ctrl.formItem.attributes[field.attribute]"}
    {{ i18n.t('checkbox.unchecked') }}
