@mixin max-height {
  height: -webkit-calc(100% - 102px);
  height: -moz-calc(100% - 102px);
  height: calc(100% - 102px);
}

@mixin rotate-glyphicon {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

@mixin top-right-btn-style {
  display: inline-block;
  width: 82px;
  float: right;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: white;
  background-color: #BBBBBB;
  @include border-radius(3px);
}

@mixin bottom-right-btn-style {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

@mixin priority-style {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: tomato;
  @include border-radius(50%);
}


@mixin right-panel {
  position: fixed;
  top: $navbar-height + 20px;
  right: 0px;
  width: $right-panel-width;
  padding-left: 20px;
  padding-right: 20px;

  div[uib-datepicker-popup-wrap] {
    display: inline-block;
  }

  label.btn {
    padding: 6px 5px;
  }

  form {
    width: 260px;

    .nav {
      display: none;
    }

    .nav-tabs > li > a {
      font-size: 13px;
      cursor: pointer;
    }

    .date-selector {
      display: inline-block;
      width: 100px;
    }

    // Datepicker fix START
    table {
      outline: none;
    }
    .dropdown-menu {
      left: 0px!important;
      padding: 5px 5px 10px 5px;
    }
    // Datepicker fix END

  }

  #filter-buttons {
    margin-top: 15px;
    margin-bottom: 20px;
  }

}
