.navbar {
  position: fixed;
  margin-bottom: 0;
  padding-right: $ms-padding-horizontal;

  .brand-wrapper {
    border-right: 1px solid transparent;
  }

  .navbar-brand {
    cursor: pointer;
    .triangle {
      font-size: 9px;
      top: -2px;
    }
  }

  .navbar-btn {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .main-functions {
    li {
      width: 100px;
      text-align: center;

      &.active {
        font-weight: bold;
        background-color: initial;
      }
    }
  }

  .user-name {
    margin-right: 5px;
    cursor: default;
  }
}
